* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 100%;
    font-family: sans-serif;
}

section {
    background-size: cover;
    background-repeat: no-repeat;
    /* Позиция определяет координату x/y */
    background-position: center center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18vh;
    /* box-shadow: 0 5px 15px rgba(0,0,0,.2);  */
    /* background-color: #868a71; */
    /* position: fixed; */
    background-image: url("/img/footer-bg.jpg");
    width: 100%;
}

.logo img {
    margin-left: 2.3em;
    max-width: 100%;
    height: auto !important;
}

nav ul {
    display: flex;
    /*  flex-direction(основная ось) и flex-wrap (поперечная)*/
    flex-flow: nowrap;
    /* основная ось слева направо */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: .5s;
    list-style-type: none;
}

.header ul,
.header li,
a {
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #141414;
    font-weight: 600;
    transition: .5s;
    font-size: large;
}

.header ul,
.header li,
a:hover {
    background: #000;
    color: #fff;
    transition: .5s
}

.first_title {
    margin: 0;
    /* padding-right: 2vh; */
    font-weight: 700;
    font-size: 60px;
    line-height: 64px;
    margin-top: 25vh;
    position: absolute;
    max-width: 80vh;
    color: #141414;
    padding: 0 20px;
}


/*конец блока ШАПКА САЙТА*/


/*Начало КОНТЕНТ*/

.about {
    min-height: 811px;
    background-image: url("../img/catmain.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

main {
    display: flex;
    background-color: #fefae0;
    padding-right: 30vh;
    padding-left: 30vh;
    /* padding-top: 5vh; */
    padding-block: 7vh;
    flex-direction: column;
}

h2 {
    padding-block: 20px;
}

p {
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    padding-block-end: 30px;
}


/* Start Page HISTORY */

#hystoryP {
    display: flex;
    width: 50%;
    margin: auto;
    padding-bottom: 2%;
}


/* END Page HISTORY */


/* Start Page TYPEOFCATS */

.services-list {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2, 1fr);
}

.services-subtitle {
    margin: auto;
    margin-bottom: 20px;
    max-width: 150px;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: #2e3322;
}


/* .services-descr {
    margin: 0;
    margin-bottom: 56px;
    max-width: 194px;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    color: rgba(33, 56, 66, 0.6);
} */

.services-item {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.listcat {
    position: relative;
    width: 80vh;
    height: 50vh;
}


/* End Page TYPEOFCATS */


/* Start Page ColorsCat */

#colors {
    height: 150px;
    float: left;
    margin: 20px;
}


/* End Page ColorsCat */


/* Конец КОНТЕНТ */


/* Начало ФУТЕР */

.footer-title {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: rgb(3, 3, 3);
    text-decoration: none;
}

.footer-link {
    display: inline-block;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: #B6C197;
    /* margin-bottom: 15px; */
}

.footer {
    display: flex;
    padding-top: 50px;
    color: #fff;
    width: 100%;
    background-image: url("/img/footer-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
}


/* Конец ФУТЕР */


/* Адаптирование */

@media (max-width: 359px) {
    .logo img {
        margin-left: 0.1em;
    }
}

@media screen and (max-width:816px) {
    /* .menu-trigger {
        display: block;
    } */
    header {
        display: flex;
        align-items: flex-start;
        height: 65%;
        line-height: 34px;
    }
    .logo img {
        padding-top: 15vh;
    }
    nav ul {
        display: block;
    }
    .header ul,
    .header li,
    a:hover {
        background: none;
        color: #fefae0;
        transition: .5s
    }
    .first_title {
        margin: 0;
        /* padding-right: 2vh; */
        font-weight: 700;
        font-size: 30px;
        line-height: 34px;
        margin-top: 25vh;
        position: absolute;
        max-height: 50em;
        max-width: 90vh;
        color: #141414;
        padding: 0 20px;
    }
    /* Для страницы породы */
    .services-list {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    /* конец для страницы породы */
}